# Ignore node_modules
node_modules

# Ignore build files (if any)
build

# Ignore local environment files
.env
.env.local
.env.development
.env.production

# Ignore IDE and editor files
.vscode
.idea

# Ignore Git files
.git
.gitignore

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore dependency caches
.yarn/cache
.pnpm-store

# Ignore OS-specific files
.DS_Store
Thumbs.db